<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-desc" data-rule="required" class="form-control" name="row[desc]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tables')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input type="text" id="c-tables" data-rule="required" class="form-control" name="row[tables]" />
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button type="button" class="btn btn-primary" id="btn-table">选择</button>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Token')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input readonly id="c-token" data-rule="required" class="form-control" name="row[token]" type="text" value="{$token}">
                <div class="input-group-addon no-border no-padding">
                    <span>
                        <button class="btn btn-primary" type="button" id="btn-refresh"><i class="fa fa-refresh"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Max_down')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-max_down" data-rule="required" class="form-control" name="row[max_down]" type="number" value="1">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
